{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/assets/css/themes/original.css" />

{% endblock %}

{% block body %}

	
<main id="content" class="content">
	{% load static%}

    <div class="titlebar titlebar-md scheme-light text-center bg-center" style="background-image: url(/static/assets/demo/bg/bg-52.jpg);">

        <div class="titlebar-inner">
            <div class="container titlebar-container">
                <div class="row titlebar-container">
                    <div class="titlebar-col col-md-8 col-md-offset-2">
                        <h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 50, "minFontSize": 32 }'>About Us</h1>
                        <a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
                    </div><!-- /.titlebar-col -->
                </div><!-- /.titlebar-row -->
            </div><!-- /.titlebar-container -->
        </div><!-- /.titlebar-inner -->

    </div><!-- /.titlebar -->

	<!--------------------------------------------------------------------------------About------------------------------------------------------------>

    <section class="vc_row pt-200 pb-70">
        <div class="container">

            
            <div class="row">

                <div class="lqd-column col-md-4 pr-md-3 pt-80">

                    <div class="ld-fancy-heading mask-text mb-65">

                        <h3
                            data-split-text="true"
                            data-custom-animations="true"
                            data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":"1200","startDelay":"300","delay":"180","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":60},"animations":{"translateY":0}}'
                            data-split-options='{"type":"lines"}'
                        >
                            We use design to help businesses launch products and brands.
                        </h3>

                    </div><!-- /.ld-fancy-heading mask-text -->

                    <p
                        data-split-text="true"
                        data-custom-animations="true"
                        data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":"1200","startDelay":"600","delay":"15","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":29,"rotateZ":2,"opacity":0},"animations":{"translateY":0,"rotateZ":0,"opacity":1}}'>
                        We’re a brand strategy and digital design agency, building brands that matter in culture. With more than ten years of knowledge and expertise. We work with people who are as dedicated to their craft. We do everything with our core values of honesty, hard work, and trust.
                    </p>

                </div><!-- /.lqd-column col-md-4 -->

                <div class="lqd-column col-md-6 col-md-offset-2 visible-md visible-lg">

                    <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-inview-options='{"delayTime":800}' data-animate-shadow="true">
                        <div class="liquid-img-group-img-container">
                            <div class="liquid-img-container-inner" data-parallax="true" data-parallax-from='{"translateY":-150}' data-parallax-to='{"translateY":87}' data-parallax-options='{"overflowHidden":false,"easing":"linear"}'>
                                <figure>
                                    <img src="/static/assets/demo/misc/fancy-image-2.jpg" alt="Creative Agency" />
                                </figure>
                            </div>
                        </div>
                    </div>

                </div><!-- /.lqd-column col-md-6 col-md-offset-2 -->

            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>

    <!--------------------------------------------------------------------------------Image------------------------------------------------------------>

    <section class="vc_row pt-45 pb-20">
            <div class="container">
                <div class="row">
    
                    <div class="lqd-column col-md-12">
    
                        <div class="liquid-img-group-container">
                            <div class="liquid-img-group-inner">
                                <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                    <div class="liquid-img-group-img-container">
                                        <div class="liquid-img-container-inner" data-parallax="true" data-parallax-from='{"scaleX":1.2,"scaleY":1.2}' data-parallax-to='{"scaleX":1,"scaleY":1}' data-parallax-options='{"overflowHidden":true,"easing":"linear"}'>
                                            <figure>
                                                <img src="/static/assets/demo/misc/fancy-image-3.jpg" alt="Fancy Image" />
                                            </figure>
                                        </div><!-- /.liquid-img-container-inner -->
                                    </div><!-- /.liquid-img-group-img-container -->
                                </div><!-- /.liquid-img-group-single -->
                            </div><!-- /.liquid-img-group-inner -->
                        </div><!-- /.liquid-img-group-container -->
    
                    </div><!-- /.lqd-column col-md-12 -->
    
                </div><!-- /.row -->
            </div><!-- /.container -->
    </section>

	<!--------------------------------------------------------------------------------Core Values------------------------------------------------------------>
        
    <section class="vc_row pt-60 pb-40">
        <div class="container">
            <div class="row">

                <div class="lqd-column col-md-12 text-center">

                    <header class="fancy-title">
                        <h2>Our Core Values</h2>
                    </header>

                </div><!-- /.col-md-12 text-center -->

                <div class="lqd-column col-md-3 col-sm-8">

                    <div
                        class="lqd-parallax"
                        data-parallax="true"
                        data-parallax-from='{"translateY":100}'
                        data-parallax-to='{"translateY":-170}'
                        data-parallax-options='{"easing":"linear", "overflowHidden": false}'
                        data-custom-animations="true"
                        data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
                    >

                        <header class="fancy-title">

                            <h3 class="font-size-30 mb-25 pr-md-6">Branded eCommerce</h3>
                            <p class="mb-45">Our eCommerce design starts and ends with a best-in-class experience strategy that builds brands and drives transactions.</p>
                            
                        </header><!-- /.fancy-title -->

                    </div><!-- /.lqd-parallax -->

                </div><!-- /.col-md-3 col-sm-8 -->

                <div class="lqd-column col-md-4 col-sm-8 col-md-offset-1">

                    <div class="row">
                        <div class="lqd-column col-md-10 col-md-offset-1">

                            <div
                                class="lqd-parallax"
                                data-parallax="true"
                                data-parallax-from='{"translateY":100}'
                                data-parallax-to='{"translateY":-100}'
                                data-parallax-options='{"easing":"linear", "overflowHidden": false}'
                                data-custom-animations="true"
                                data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
                            >

                                <header class="fancy-title">
        
                                    <h3 class="font-size-30 mb-25 pr-md-6">Digital Experience</h3>
                                    <p class="mb-45">Through a deep understanding of our audience’s makeup and motivations, we design digital experiences that connect with people.</p>
                                    
                                </header><!-- /.fancy-title -->

                            </div><!-- /.lqd-parallax -->

                        </div><!-- /.col-md-10 col-md-offset-1 -->
                    </div><!-- /.row -->

                </div><!-- /.col-md-3 col-sm-8 -->

                <div class="lqd-column col-md-3 col-sm-8 col-md-offset-1">

                    <div
                        class="lqd-parallax"
                        data-parallax="true"
                        data-parallax-from='{"translateY":100}'
                        data-parallax-to='{"translateY":-29}'
                        data-parallax-options='{"easing":"linear", "overflowHidden": false}'
                        data-custom-animations="true"
                        data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
                    >

                        <header class="fancy-title">

                            <h3 class="font-size-30 mb-25 pr-md-6">Branding Strategy</h3>
                            <p class="mb-45">We build and activate brands through cultural insight, strategic vision, and the power of emotion across every element of its expression.</p>
                            
                        </header><!-- /.fancy-title -->

                    </div><!-- /.lqd-parallax -->

                </div><!-- /.col-md-3 col-sm-8 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

	<!--------------------------------------------------------------------------------Team members------------------------------------------------------------>
    <section class="vc_row pt-85 pb-80">
        <div class="container">
            <div class="row">
                
                <div class="lqd-column col-md-12 text-center">

                    <header class="fancy-title">
                        <h2>Team members</h2>
                    </header>

                </div><!-- /.col-md-12 text-center -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <figure>
                                    <img src="/static/assets/demo/team/team-16.jpg" alt="David Richards" />
                                </figure>
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">David Richards</h3>
                    <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Bootcamp trainer</h6>


                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <figure>
                                    <img src="/static/assets/demo/team/team-17.jpg" alt="David Richards" />
                                </figure>
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">Alex Willis</h3>
                    <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Crossfit trainer</h6>


                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <figure>
                                    <img src="/static/assets/demo/team/team-18.jpg" alt="David Richards" />
                                </figure>
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">Marion Miller</h3>
                    <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Spinning trainer</h6>

                    

                </div><!-- /.col-md-4 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

</main><!-- /#content.content -->
	
	{% endblock %}
	