<!DOCTYPE html>
<html lang="en">
<head>


	<title>DAHLEEZ FOUNDATION</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#87e3c5">

	<style>
		::selection {
			background: #0fcea9;
		  }
	</style>

    <link rel="shortcut icon" href="./favicon.png" />
	
	

	<link rel="stylesheet" href="https://use.typekit.net/vtq7trz.css">
	
	<link rel="stylesheet" href="/static/assets/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="/static/assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/static/assets/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="/static/assets/css/theme.min.css" />
	<link rel="stylesheet" href="/static/assets/css/themes/voguish.css" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">


	
	
	<!-- Head Libs -->
	<script async src="/static/assets/vendors/modernizr.min.js"></script>
	
</head>


    <main id="content" class="content">

        {% load static %}


        <section class="vc_row pt-100 pb-50">
            <div class="container">
                <div class="row">

                    <div class="lqd-column col-md-12">

                        <div class="tabs tabs-nav-centered tabs-nav-underlined tabs-nav-active-underlined tabs-nav-lg tabs-nav-underlined-gradient">
                            <div class="lqd-column col-md-12 text-center">
	
                                <header class="fancy-title text-center">
                                    <div class="ld-fancy-heading">
                                        <h1
                                        class="mb-4"
                                        data-split-text="true"
                                        data-split-options='{"type":"lines"}'>
                                            <span class="ld-fh-txt">Campaign</span>
                                        </h1>
                                    </div><!-- /.ld-fancy-heading -->
                                </header>
        
                            </div><!-- /.lqd-column col-md-12 text-center -->
                            <div class="tabs-content">
                                <div id="ld-tab-pane-33" role="tabpanel" class="tabs-pane fade active in">

                                    <div class="row">
                                        <div class="lqd-column col-md-8 col-md-offset-2 px-md-5 text-center">
                                            <p class="font-size-18">As a leading digital agency in Paris, we look to engage with our clients beyond the conventional design and development agency relationship, becoming a partner to the people and companies we work with.</p>
                                        </div><!-- /.lqd-column col-md-8 col-md-offset-2 -->
                                    </div><!-- /.row -->

                                </div><!-- /.tab-pane -->
                                <div id="ld-tab-pane-34" role="tabpanel" class="tabs-pane fade">

                                    <div class="row">
                                        <div class="lqd-column col-md-8 col-md-offset-2 px-md-5 text-center">
                                            <p class="font-size-18">As a leading digital agency in Paris, we look to engage with our clients beyond the conventional design and development agency relationship, becoming a partner to the people and companies we work with.</p>
                                        </div><!-- /.lqd-column col-md-8 col-md-offset-2 -->
                                    </div><!-- /.row -->

                                </div><!-- /.tab-pane -->
                                <div id="ld-tab-pane-35" role="tabpanel" class="tabs-pane fade">

                                    <div class="row">
                                        <div class="lqd-column col-md-8 col-md-offset-2 px-md-5 text-center">
                                            <p class="font-size-18">As a leading digital agency in Paris, we look to engage with our clients beyond the conventional design and development agency relationship, becoming a partner to the people and companies we work with.</p>
                                        </div><!-- /.lqd-column col-md-8 col-md-offset-2 -->
                                    </div><!-- /.row -->

                                </div><!-- /.tab-pane -->
                            </div><!-- /.tabs-content -->
                        </div><!-- /.tabs -->

                    </div><!-- /.lqd-column col-md-12 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>

        			<section class="vc_row pt-100 pb-70">
				<div class="container">
					<div class="row d-flex flex-wrap align-items-center">

						<div class="lqd-column col-md-3 col-xs-6 text-center">

							<div class="liquid-counter liquid-counter-default liquid-counter-md liquid-counter-has-hover-gradient">
								<div class="liquid-counter-element " data-enable-counter="true" data-counter-options='{"targetNumber":"785","blurEffect":true}'>
									<div class="liquid-counter-element liquid-counter-element-hover">
										<span>785</span>
									</div><!-- /.liquid-counter-element -->
									<span class="text-dark">785</span>
								</div><!-- /.liquid-counter-elmeent -->
								<span class="liquid-counter-text liquid-text-bottom text-dark font-size-18">GLOBAL BRANDS</span>
							</div><!-- /.liquid-counter -->

						</div><!-- /.lqd-column col-md-3 col-xs-6 -->

						<div class="lqd-column col-md-3 col-xs-6 text-center">

							<div class="liquid-counter liquid-counter-default liquid-counter-md liquid-counter-has-hover-gradient">
								<div class="liquid-counter-element " data-enable-counter="true" data-counter-options='{"targetNumber":"237","blurEffect":true}'>
									<div class="liquid-counter-element liquid-counter-element-hover">
										<span>237</span>
									</div><!-- /.liquid-counter-element -->
									<span class="text-dark">237</span>
								</div><!-- /.liquid-counter-elmeent -->
								<span class="liquid-counter-text liquid-text-bottom text-dark font-size-18">HAPPY CLIENTS</span>
							</div><!-- /.liquid-counter -->

						</div><!-- /.lqd-column col-md-3 col-xs-6 -->

						<div class="lqd-column col-md-3 col-xs-6 text-center">

							<div class="liquid-counter liquid-counter-default liquid-counter-md liquid-counter-has-hover-gradient">
								<div class="liquid-counter-element " data-enable-counter="true" data-counter-options='{"targetNumber":"426","blurEffect":true}'>
									<div class="liquid-counter-element liquid-counter-element-hover">
										<span>426</span>
									</div><!-- /.liquid-counter-element -->
									<span class="text-dark">426</span>
								</div><!-- /.liquid-counter-elmeent -->
								<span class="liquid-counter-text liquid-text-bottom text-dark font-size-18">GLOBAL BRANDS</span>
							</div><!-- /.liquid-counter -->

						</div><!-- /.lqd-column col-md-3 col-xs-6 -->

						<div class="lqd-column col-md-3 col-xs-6 text-center">

							<div class="liquid-counter liquid-counter-default liquid-counter-md liquid-counter-has-hover-gradient">
								<div class="liquid-counter-element " data-enable-counter="true" data-counter-options='{"targetNumber":"578","blurEffect":true}'>
									<div class="liquid-counter-element liquid-counter-element-hover">
										<span>578</span>
									</div><!-- /.liquid-counter-element -->
									<span class="text-dark">578</span>
								</div><!-- /.liquid-counter-elmeent -->
								<span class="liquid-counter-text liquid-text-bottom text-dark font-size-18">HAPPY CLIENTS</span>
							</div><!-- /.liquid-counter -->

						</div><!-- /.lqd-column col-md-3 col-xs-6 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

        <section class="vc_row pt-20 pb-20">
            <div class="container">
                <div class="row">

                    <div class="lqd-column col-md-12">

                        <div
                        class="ld-media-row row d-flex"
                        data-liquid-masonry="true"
                        data-custom-animations="true"
                        data-ca-options='{"triggerHandler":"inview","animationTarget":".ld-media-item","duration":700,"delay":100,"easing":"easeOutQuint","initValues":{"scale":1},"animations":{"scale":1}}'>
                        
                            <div class="lqd-column col-md-6 masonry-item">
                                <div class="ld-media-item">
                                    <figure data-responsive-bg="true">
                                        <img class="invisible" src="/static/assets/demo/media-elements/md-23.jpg" alt="Media Gallery">
                                    </figure>
                                    <div class="ld-media-item-overlay d-flex flex-column align-items-center text-center justify-content-center">
                                        <div class="ld-media-bg"></div>
                                        <div class="ld-media-content">
                                            <div class="ld-media-txt">
                                                <h3>About</h3>
                                            </div><!-- /.ld-media-txt -->
                                        </div><!-- /.ld-media-content -->
                                    </div><!-- /.ld-media-item-overlay -->
                                    <a href="/static/assets/demo/media-elements/md-23.jpg" class="liquid-overlay-link fresco" data-fresco-group="media-group-2"></a>
                                </div><!-- /.ld-media-item -->
                            </div><!-- /.col-md-3 -->
                        
                            <div class="lqd-column col-md-6 masonry-item">
                                <div class="ld-media-item">
                                    <figure data-responsive-bg="true">
                                        <img class="invisible" src="/static/assets/demo/media-elements/md-24.jpg" alt="Media Gallery">
                                    </figure>
                                    <div class="ld-media-item-overlay d-flex flex-column align-items-center text-center justify-content-end">
                                        <div class="ld-media-bg"></div>
                                        <div class="ld-media-content">
                                            <div class="ld-media-txt">
                                                <h3>About</h3>
                                            </div><!-- /.ld-media-txt -->
                                        </div><!-- /.ld-media-content -->
                                    </div><!-- /.ld-media-item-overlay -->
                                    <a href="/static/assets/demo/media-elements/md-24.jpg" class="liquid-overlay-link fresco" data-fresco-group="media-group-2"></a>
                                </div><!-- /.ld-media-item -->
                            </div><!-- /.col-md-3 -->
                        
                            <div class="lqd-column col-md-3 col-sm-6 masonry-item">
                                <div class="ld-media-item">
                                    <figure data-responsive-bg="true">
                                        <img class="invisible" src="/static/assets/demo/media-elements/md-25.jpg" alt="Media Gallery">
                                    </figure>
                                    <div class="ld-media-item-overlay d-flex flex-column align-items-center text-center justify-content-end">
                                        <div class="ld-media-bg"></div>
                                        <div class="ld-media-content">
                                            <div class="ld-media-txt">
                                                <h3>About</h3>
                                            </div><!-- /.ld-media-txt -->
                                        </div><!-- /.ld-media-content -->
                                    </div><!-- /.ld-media-item-overlay -->
                                    <a href="/static/assets/demo/media-elements/md-25.jpg" class="liquid-overlay-link fresco" data-fresco-group="media-group-2"></a>
                                </div><!-- /.ld-media-item -->
                            </div><!-- /.col-md-3 -->
                        
                            <div class="lqd-column col-md-3 col-sm-6 masonry-item">
                                <div class="ld-media-item">
                                    <figure data-responsive-bg="true">
                                        <img class="invisible" src="/static/assets/demo/media-elements/md-26.jpg" alt="Media Gallery">
                                    </figure>
                                    <div class="ld-media-item-overlay d-flex flex-column align-items-center text-center justify-content-end">
                                        <div class="ld-media-bg"></div>
                                        <div class="ld-media-content">
                                            <div class="ld-media-txt">
                                                <h3>About</h3>
                                            </div><!-- /.ld-media-txt -->
                                        </div><!-- /.ld-media-content -->
                                    </div><!-- /.ld-media-item-overlay -->
                                    <a href="/static/assets/demo/media-elements/md-26.jpg" class="liquid-overlay-link fresco" data-fresco-group="media-group-2"></a>
                                </div><!-- /.ld-media-item -->
                            </div><!-- /.col-md-3 -->
                            
                        </div><!-- /.ld-media-row -->

                    </div><!-- /.lqd-column col-md-12 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>

    </main><!-- /#content.content -->
	
	
<script src="/static/assets/vendors/jquery.min.js"></script>
<script src="/static/assets/js/theme-vendors.js"></script>
<script src="/static/assets/js/theme.min.js"></script>
<script src="/static/assets/js/liquidAjaxMailchimp.min.js"></script>
    
    
    
</body>
</html>
	