{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}

	
	<main id="content" class="content">
		{% load static %}
		<div class="titlebar titlebar-md scheme-light text-center bg-center" style="background-image: url(/static/assets/demo/bg/bg-52.jpg);">

			<div class="titlebar-inner">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-8 col-md-offset-2">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 50, "minFontSize": 32 }'>Our Focus Area</h1>
							<a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
				</div><!-- /.titlebar-container -->
			</div><!-- /.titlebar-inner -->
	
		</div><!-- /.titlebar -->



		<section class="vc_row bg-contain pt-120" style="background-image: url(./assets/demo/bg/bg-120.jpg);">
				
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-10 col-md-offset-1 text-center mb-35">

						<div class="lqd-column col-md-12 text-center">
	
							<header class="fancy-title text-center">
								<div class="ld-fancy-heading">
									<h1
									class="mb-4"
									data-split-text="true"
									data-split-options='{"type":"lines"}'>
										<span class="ld-fh-txt">Focus Area</span>
									</h1>
								</div><!-- /.ld-fancy-heading -->
							</header>
	
						</div><!-- /.lqd-column col-md-12 text-center -->
	

						<div class="ld-fancy-heading">
							<p
							class="font-size-30 lh-16 font-weight-light text-dark"
							data-split-text="true"
							data-custom-animations="true"
							data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":700,"delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"scale":1},"animations":{"scale":1}}'
							data-split-options='{"type":"lines"}'>
								<span class="ld-fh-txt">Our construction and total service offering lets us deliver projects in their entirety. We can lead projects all the way from the initial concept phase to long-term asset management, operations and maintenance.</span>
							</p>
						</div><!-- /.ld-fancy-heading -->

					</div><!-- /.lqd-column col-md-10 col-md-offset-1 -->

				</div><!-- /.row -->
			</div><!-- /.container -->

		</section>



		<section class="vc_row pt-70 pb-70">
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-8 col-md-offset-2">

						<header class="fancy-title text-center px-md-7">
							<h2 class="title h1 mb-4">Campaigns</h2>
						</header>

					</div><!-- /.col-md-8 col-md-offset-2 -->

					<div class="lqd-column col-md-12">

						<div class="liquid-portfolio-list">

							<div
								id="pf-grid-1"
								class="rowd liquid-portfolio-list-row pf-grid-1"
								data-liquid-masonry="true"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":".ld-pf-item", "animateTargetsWhenVisible": true, "duration":1000,"delay":100,"easing":"easeOutQuint","initValues":{"scale":0.75, "opacity": 0},"animations":{"scale":1, "opacity": 1	}}'
							>

								<div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">

									<div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">

										<div class="ld-pf-inner pos-rel">

											<div class="ld-pf-image">
												<figure data-responsive-bg="true">
													<img src="/static/assets/demo/portfolio/pf-1.jpg" alt="Portfolio">
												</figure>
											</div><!-- /.ld-pf-image -->

											<div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>

													<div class="ld-pf-bg bg-gradient-primary-br"></div><!-- /.ld-pf-bg -->
							
													<div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
							
														<div class="ld-pf-btns">
															<a href="/campaign" class="ld-pf-btn  ld-pf-btn-solid zoom fresco">
																Viev
															</a>
															
														</div><!-- /.ld-pf-btns -->
							
													</div><!-- /.ld-pf-details-inner -->
							
												</div><!-- /.ld-pf-details -->

										</div><!-- /.ld-pf-inner pos-rel -->

										<h3 class="ld-pf-title h4 font-weight-bold">Milk Bottle</h3>

									</div><!-- /.ld-pf-item -->

								</div><!-- /.col-md-4 col-sm-6 col-xs-12 masonry-item -->

								<div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">

									<div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">

										<div class="ld-pf-inner pos-rel">

											<div class="ld-pf-image">
												<figure data-responsive-bg="true">
													<img src="/static/assets/demo/portfolio/pf-2.jpg" alt="Portfolio">
												</figure>
											</div><!-- /.ld-pf-image -->

											<div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>

													<div class="ld-pf-bg bg-gradient-primary-br"></div><!-- /.ld-pf-bg -->
							
													<div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
							
														<div class="ld-pf-btns">
															<a href="./assets/demo/portfolio/pf-2.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
																<span><i class="icon-ion-ios-search"></i></span>
															</a>
															<a href="#" class="ld-pf-btn ra circle ld-pf-btn-solid ml-2">
																<span><i class="icon-md-link"></i></span>
															</a>
														</div><!-- /.ld-pf-btns -->
							
													</div><!-- /.ld-pf-details-inner -->
							
												</div><!-- /.ld-pf-details -->

										</div><!-- /.ld-pf-inner pos-rel -->

										<h3 class="ld-pf-title h4 font-weight-bold">Architecture</h3>

									</div><!-- /.ld-pf-item -->

								</div><!-- /.col-md-4 col-sm-6 col-xs-12 masonry-item -->

								<div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">

									<div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">

										<div class="ld-pf-inner pos-rel">

											<div class="ld-pf-image">
												<figure data-responsive-bg="true">
													<img src="/static/assets/demo/portfolio/pf-3.jpg" alt="Portfolio">
												</figure>
											</div><!-- /.ld-pf-image -->

											<div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>

													<div class="ld-pf-bg bg-gradient-primary-br"></div><!-- /.ld-pf-bg -->
							
													<div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
							
														<div class="ld-pf-btns">
															<a href="/static/assets/demo/portfolio/pf-3.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
																<span><i class="icon-ion-ios-search"></i></span>
															</a>
															<a href="#" class="ld-pf-btn ra circle ld-pf-btn-solid ml-2">
																<span><i class="icon-md-link"></i></span>
															</a>
														</div><!-- /.ld-pf-btns -->
							
													</div><!-- /.ld-pf-details-inner -->
							
												</div><!-- /.ld-pf-details -->

										</div><!-- /.ld-pf-inner pos-rel -->

										<h3 class="ld-pf-title h4 font-weight-bold">Plastic Bags</h3>

									</div><!-- /.ld-pf-item -->

								</div><!-- /.col-md-4 col-sm-6 col-xs-12 masonry-item -->

								<div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">

									<div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">

										<div class="ld-pf-inner pos-rel">

											<div class="ld-pf-image">
												<figure data-responsive-bg="true">
													<img src="/static/assets/demo/portfolio/pf-4.jpg" alt="Portfolio">
												</figure>
											</div><!-- /.ld-pf-image -->

											<div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>

													<div class="ld-pf-bg bg-gradient-primary-br"></div><!-- /.ld-pf-bg -->
							
													<div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
							
														<div class="ld-pf-btns">
															<a href="/static/assets/demo/portfolio/pf-4.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
																<span><i class="icon-ion-ios-search"></i></span>
															</a>
															<a href="#" class="ld-pf-btn ra circle ld-pf-btn-solid ml-2">
																<span><i class="icon-md-link"></i></span>
															</a>
														</div><!-- /.ld-pf-btns -->
							
													</div><!-- /.ld-pf-details-inner -->
							
												</div><!-- /.ld-pf-details -->

										</div><!-- /.ld-pf-inner pos-rel -->

										<h3 class="ld-pf-title h4 font-weight-bold">Cocktail</h3>

									</div><!-- /.ld-pf-item -->

								</div><!-- /.col-md-4 col-sm-6 col-xs-12 masonry-item -->

								<div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">

									<div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">

										<div class="ld-pf-inner pos-rel">

											<div class="ld-pf-image">
												<figure data-responsive-bg="true">
													<img src="/static/assets/demo/portfolio/pf-5.jpg" alt="Portfolio">
												</figure>
											</div><!-- /.ld-pf-image -->

											<div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>

													<div class="ld-pf-bg bg-gradient-primary-br"></div><!-- /.ld-pf-bg -->
							
													<div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
							
														<div class="ld-pf-btns">
															<a href="/static/assets/demo/portfolio/pf-5.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
																<span><i class="icon-ion-ios-search"></i></span>
															</a>
															<a href="#" class="ld-pf-btn ra circle ld-pf-btn-solid ml-2">
																<span><i class="icon-md-link"></i></span>
															</a>
														</div><!-- /.ld-pf-btns -->
							
													</div><!-- /.ld-pf-details-inner -->
							
												</div><!-- /.ld-pf-details -->

										</div><!-- /.ld-pf-inner pos-rel -->

										<h3 class="ld-pf-title h4 font-weight-bold">Mobile Apps</h3>

									</div><!-- /.ld-pf-item -->

								</div><!-- /.col-md-4 col-sm-6 col-xs-12 masonry-item -->

								<div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">

									<div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">

										<div class="ld-pf-inner pos-rel">

											<div class="ld-pf-image">
												<figure data-responsive-bg="true">
													<img src="/static/assets/demo/portfolio/pf-6.jpg" alt="Portfolio">
												</figure>
											</div><!-- /.ld-pf-image -->

											<div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>

													<div class="ld-pf-bg bg-gradient-primary-br"></div><!-- /.ld-pf-bg -->
							
													<div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
							
														<div class="ld-pf-btns">
															<a href="/static/assets/demo/portfolio/pf-6.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
																<span><i class="icon-ion-ios-search"></i></span>
															</a>
															<a href="#" class="ld-pf-btn ra circle ld-pf-btn-solid ml-2">
																<span><i class="icon-md-link"></i></span>
															</a>
														</div><!-- /.ld-pf-btns -->
							
													</div><!-- /.ld-pf-details-inner -->
							
												</div><!-- /.ld-pf-details -->

										</div><!-- /.ld-pf-inner pos-rel -->

										<h3 class="ld-pf-title h4 font-weight-bold">Liquid Bottle</h3>

									</div><!-- /.ld-pf-item -->

								</div><!-- /.col-md-4 col-sm-6 col-xs-12 masonry-item -->

							</div><!-- /.rowd liquid-portfolio-list-row -->

						</div><!-- /.liquid-portfolio-list -->

					</div><!-- /.col-md-12 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>


	
		
	</main><!-- /#content.content -->
	
{% endblock %}
	