{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}

	
	<main id="content" class="content">
		{% load static %}
		<div class="titlebar titlebar-md scheme-light text-center bg-center" style="background-image: url(/static/assets/demo/bg/bg-52.jpg);">

			<div class="titlebar-inner">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-8 col-md-offset-2">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 50, "minFontSize": 32 }'>Our Focus Area</h1>
							<a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
				</div><!-- /.titlebar-container -->
			</div><!-- /.titlebar-inner -->
	
		</div><!-- /.titlebar -->
	
		
	</main><!-- /#content.content -->
	
{% endblock %}
	